body{
    background-color: darkkhaki;
    font-family: Times 'Times New Roman', Times, serif;
    font-size: 120%;
}

h1{
    text-align: center;
    font-variant: small-caps;
    font-size: 300%;
}

p{
    text-indent: 20px;
}

li{
    list-style: square;
}

